/*INDEX FILE CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.heading-name {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    
}

#header {
    background-color:greenyellow;
    height: 80px;
    border-bottom: 3px solid black;
}

.subject {
    text-align: center;
    text-decoration: none;
}

.timing {
    width: 100%;
    margin-bottom: 5px;
}
.ign {
    text-align: left;
    width: 50%;
    float: left;
}

.time {
    text-align: right;
    width: 50%;
    float: right;
}

/* Question section start from here*/

.qno {
    border: 3px solid black;
    overflow: hidden;
    background: rgb(201, 201, 201);

}

.number {
    text-align: left;
    padding-left: 10px;
    width: 50%;
    float: left;
    /*background: rgb(201, 201, 201);*/

}

.neg {
    text-align: right;
    padding-right: 10px;
    width: 50%;
    float: right;
    background: rgb(201, 201, 201);
}

.q {
    height: auto;
    border: 3px solid black;
    border-top: hidden;
}

/* question and answer and keys section here enjoy */
.question {
    display: block;
    padding-top: 10px;
    height: 80px;
    width: auto;
}

.options {
    display: block;
    margin-top: 10px;
}

.q .question {
    height: auto;
}

.q .options {
    margin-top: 10px;
    height: auto;
}

.choice {
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.btn-btn-primaryz {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    border-radius: 0;
    background-color:rgb(213, 241, 169);
    outline: none;
}

/* footer start form here so dont go here  i always forgot RIP who is reading this xD */
.card text-center{
    padding: 20px;
    position: absolute;
}

.btn-btn-primary {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color:rgb(74, 74, 247);
}

.btn-btn-primary1 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: green;
}

.btn-btn-primary2 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(243, 65, 65);
}

.btn-btn-primary3 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color:coral;
}