pages 
	login - create profile
	home 
	exam page
	score page
	
	




to learn
php 
java script
new user
sessions
save previous data

database
sql

implimentation
hosting 




design
home page - 
	info div
	different subject take test div layout 
	take take button
	pdf section 
	social media pages
	contact info
quotes



take page - 
	test layout 
	header
	timier
	question display
	submit
	
student profile -
	takes took info
	score 

