* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.heading-name {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    
}

#header {
    background-color:greenyellow;
    height: 80px;
}

.d-flex a {
    padding: 5px 10px;
    background-color: rgb(188, 188, 247);
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000;
    border-radius: 10%;
}

.banner {
    display: block;
    height: 500px;
    width: 100%vh;
}

.banner img {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.TestInfo {
    text-align: center;
}

.TestInfo img {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.flex {
    display: block;
    justify-content: center;
    margin-right: 2vh;
    margin-left: auto;
    align-items: center;

}

.Free-Test {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: green;
    margin-top: 80px;
}

.Hindi {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(210, 250, 151);
    height: 300px;
    width: 300px;
    text-align: center;
}

.English {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(210, 250, 151);
    height: 300px;
    width: 300px;
    text-align: center;
}

.Maths {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(210, 250, 151);
    height: 300px;
    width: 300px;
    text-align: center;
}

.card text-center{
    padding: 20px;
    position: absolute;
}

.btn-btn-primary {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color:rgb(74, 74, 247);
}

.btn-btn-primary1 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: green;
}

.btn-btn-primary2 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(243, 65, 65);
}

.btn-btn-primary3 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    background-color:coral;
}